@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'B612 Mono';
    src: url('/B612_Mono/B612Mono-Regular.ttf') format('truetype');
  }

:root {
  background-color: #d4dcda;
}

.main-div{
  font-family: B612 Mono, monospace;
}
